@{
    ViewBag.Title = "Afiliados";
}

<!-- ---------------------------- Modal Empleados Start ---------------------------- -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <div id="modal-content">
            Cargando...
        </div>
    </div>
</div>


<div class="container-100">
    <div class="wrap-100">
        <div class="form-100 validate-form">
            <span class="title-100-form"> Formulario de solicitud de Afiliados </span>
        </div>

        <div class="w3-row">
            <div class="w3-half wrap-input100 rs1-wrap-input100" style="margin: 0;">
                <h3 class="h3-input100"> Datos del Afiliado</h3>
            </div>
            <div class="w3-half wrap-input100 rs1-wrap-input100" style="margin: 0;">
                <button onclick="document.getElementById('id01').style.display='block'" class="btnCodigo w3-right w3-margin-top enviar w3-card bg-zul w3-text-white w3-hover-green w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="button" id="Codigo" name="Codigo">
                    CODIGO
                </button>
            </div>
        </div>

        <hr class="hrs" />
        <br />

        <form method="post" enctype="multipart/form-data">
            <div class="Datos">
                <div class="wrap-input100 validate-input bg1 alert-validate" data-validate="Please Type Your Name">
                    <span class="label-input100"> Cuil </span>
                    <input type="number" id="Cuil" name="Cuil" class="input100 " onblur="validarMomentoCuit()">
                </div>

                <div class="w3-row">
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Apellido</span>
                        <input type="text" id="Apellido" name="Apellido" class="input100 " onblur="validarMomentoApellido()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Nombre</span>
                        <input type="text" id="Nombre" name="Nombre" class="input100" onblur="validarMomentoNombre()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Tipo de Documento</span>
                        <select class="w3-select bg1" name="TipoDoc" id="TipoDoc">
                            <option value="0">< Seleccione un Tipo Documento ></option>
                            @{
                                if (ViewData["TipoDoc"] != null)
                                {
                                    IEnumerable<dynamic> TipoDoc = (IEnumerable<dynamic>)ViewData["TipoDoc"];

                                    foreach (dynamic Loc in TipoDoc)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="w3-row">
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Numero de Documento</span>
                        <input type="number" id="NumDoc" name="NumDoc" class="input100" onblur="validarMomentoNumDocumento()">

                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Delegacion</span>
                        <select class="w3-select bg1" name="Delegacion" id="Delegacion">
                            <option value="0">< Seleccione una Delegacion ></option>
                            @{
                                if (ViewData["Delegacion"] != null)
                                {
                                    IEnumerable<dynamic> Delegacion = (IEnumerable<dynamic>)ViewData["Delegacion"];

                                    foreach (dynamic Loc in Delegacion)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third">
                        <span class="label-input100">Calificacion Profesional</span>
                        <select class="w3-select bg1" name="CalifProf" id="CalifProf">
                            <option value="0">< Seleccione una Calificacion Profesional ></option>
                            @{
                                if (ViewData["CalifProf"] != null)
                                {
                                    IEnumerable<dynamic> CalifProf = (IEnumerable<dynamic>)ViewData["CalifProf"];

                                    foreach (dynamic Loc in CalifProf)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="w3-row">
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Estado Civil</span>
                        <select class="w3-select bg1" name="EstadoCivil" id="EstadoCivil">
                            <option value="0">< Seleccione un Estado Civil ></option>
                            @{
                                if (ViewData["EstadoCivil"] != null)
                                {
                                    IEnumerable<dynamic> EstadoCivil = (IEnumerable<dynamic>)ViewData["EstadoCivil"];

                                    foreach (dynamic Loc in EstadoCivil)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Fecha Nacimiento</span>
                        <input type="date" id="FechaNac" name="FechaNac" class="input100">

                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Calle</span>
                        <input type="text" id="Calle" name="Calle" class="input100" onblur="validarMomentoCalle()">

                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Numero de Calle</span>
                        <input type="number" id="NumeroCalle" name="NumeroCalle" class="input100" onblur="validarMomentoNumCalle()">

                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Piso</span>
                        <input type="text" id="Piso" name="Piso" class="input100">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Dto</span>
                        <input type="text" id="Dto" name="Dto" class="input100">
                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Telefono</span>
                        <input type="tel" id="Telefono" name="Telefono" class="input100" onblur="validarMomentoTelefono()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Celular</span>
                        <input type="tel" id="Celular" name="Celular" class="input100" onblur="validarMomentoCelular()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Email</span>
                        <input type="email" id="Email" name="Email" class="input100" onblur="validarMomentoEmail()">
                    </div>



                </div>

                <div class="w3-row">
                    <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Localidad</span>
                        <select class="w3-select bg1" name="Localidad" id="Localidad">
                            <option value="0">< Seleccione una Localidad ></option>
                            @{
                                if (ViewData["Localidades"] != null)
                                {
                                    IEnumerable<dynamic> Localidad = (IEnumerable<dynamic>)ViewData["Localidades"];

                                    foreach (dynamic Loc in Localidad)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Provincia</span>
                        <select class="w3-select bg1" name="Provincia" id="Provincia">
                            <option value="0">< Seleccione una Provincia ></option>
                            @{
                                if (ViewData["Provincia"] != null)
                                {
                                    IEnumerable<dynamic> Provincia = (IEnumerable<dynamic>)ViewData["Provincia"];

                                    foreach (dynamic Loc in Provincia)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Sexo</span>
                        <select class="w3-select bg1" name="SexoAfiliadoDocumento" id="SexoAfiliadoDocumento">
                            @{
                                if (ViewData["Sexo"] != null)
                                {
                                    IEnumerable<dynamic> Sexo = (IEnumerable<dynamic>)ViewData["Sexo"];

                                    foreach (dynamic Loc in Sexo)
                                    {
                                        <option value="@Loc.Codigo">@Loc.Descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Nacionalidad</span>
                        <select class="w3-select bg1" name="Nacionalidad" id="Nacionalidad" onblur="validarMomentoNacionalidad()">
                            @{
                                if (ViewData["Nacionalidad"] != null)
                                {
                                    IEnumerable<dynamic> Nacionalidad = (IEnumerable<dynamic>)ViewData["Nacionalidad"];

                                    foreach (dynamic Loc in Nacionalidad)
                                    {
                                        if (Loc.Codigo == 0)
                                        {
                                            <option value="@Loc.Codigo">< Seleccione una Nacionalidad ></option>
                                        }
                                        else
                                        {
                                            <option value="@Loc.Codigo"> @Loc.Descripcion </option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <label><input type="checkbox" value="Convenio" name="chkConvenio" class="w3-check bg1" id="chkConvenio" checked disabled /> Convenio Colectivo </label><br />
                        <label><input type="checkbox" name="chkCuota" class="w3-check bg1" id="chkCuota" /> Cuota Sindical </label> <br />
                        <label><input type="checkbox" name="chkSeguro" class="w3-check bg1" id="chkSeguro" /> Seguro Sepelio </label>
                    </div>
                    <div class="w3-third">
                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Fecha / Importe / Interes_Mora -------------------- -->
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Foto Frente DNI</span>
                        <input accept="image/png,image/jpeg,application/pdf" type="file" name="fileU" id="fileU">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Foto Dorso DNI</span>
                        <input accept="image/png,image/jpeg,application/pdf" type="file" name="fileD" id="fileD">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Ultimo Recibo Sueldo</span>
                        <input accept="image/png,image/jpeg,application/pdf" type="file" name="fileT" id="fileT">
                    </div>
                </div>
            </div>

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

            <h3 class="h3-input100"> Empresas </h3>
            <hr class="hrs" />
            <br />

            <div class="empresa">
                <div class="w3-row">
                    <!-- -------------------- Apellido / Docimilio / Documento -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Fecha Ingreso</span>
                        <input type="date" id="FechaIngresoAfiliadoEmpresa" name="FechaIngresoAfiliadoEmpresa" class="input100">

                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Razon Social</span>
                        <input type="text" id="NombreEmpresaAfiliadoEmpresa" name="NombreEmpresaAfiliadoEmpresa" class="input100" onblur="validarMomentoNombreEmpresa()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Nombre de Fantasia</span>
                        <input type="text" id="NombreFantasiaAfiliadoEmpresa" name="NombreFantasiaAfiliadoEmpresa" class="input100">
                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Apellido / Docimilio / Documento -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Cuit</span>
                        <input type="number" id="CUITEmpresaAfiliadoEmpresa" name="CUITEmpresaAfiliadoEmpresa" class="input100" onblur="validarMomentoCuitEmpresa()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Calle</span>
                        <input type="text" id="CalleAfiliadoEmpresa" name="CalleAfiliadoEmpresa" class="input100" onblur="validarMomentoCalleAfiliado()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Numero</span>
                        <input type="number" id="NumeroAfiliadoEmpresa" name="NumeroAfiliadoEmpresa" class="input100" onblur="validarMomentoNumeroAfiliado()">
                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Apellido / Docimilio / Documento -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Local</span>
                        <input type="text" id="LocalAfiliadoEmpresa" name="LocalAfiliadoEmpresa" class="input100" onblur="validarMomentoLocalAfiliado()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Piso</span>
                        <input type="text" id="PisoAfiliadoEmpresa" name="PisoAfiliadoEmpresa" class="input100">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Dto</span>
                        <input type="text" id="DtoAfiliadoEmpresa" name="DtoAfiliadoEmpresa" class="input100">
                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Apellido / Docimilio / Documento -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">CP</span>
                        <input type="number" id="CPAfiliadoEmpresa" name="CPAfiliadoEmpresa" class="input100" onblur="validarMomentoCPAfiliado()">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Localidad</span>
                        <select class="w3-select bg1" name="LocalidadAfiliadoEmpresa" id="LocalidadAfiliadoEmpresa">
                            <option value="0">< Seleccione una Localidad ></option>
                            @{
                                if (ViewData["Localidades"] != null)
                                {
                                    IEnumerable<dynamic> Localidad = (IEnumerable<dynamic>)ViewData["Localidades"];

                                    foreach (dynamic Loc in Localidad)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Telefono</span>
                        <input type="number" id="TelefonoAfiliadoEmpresa" name="TelefonoAfiliadoEmpresa" class="input100" onblur="validarMomentoTelefonoAfiliado()">
                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Apellido / Docimilio / Documento -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Email</span>
                        <input type="email" id="EmailAfiliadoEmpresa" name="EmailAfiliadoEmpresa" class="input100" onblur="validarMomentoEmailAfiliado()">
                    </div>
                    <div class="w3-third">
                    </div>
                    <div class="w3-third">
                    </div>
                </div>

            </div>


            <!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->

            <br />
            <h3 class="h3-input100"> Familiares </h3>
            <hr class="hrs" />
            <br />

            <div class="familiares">
                <div class="w3-row">
                    <!-- -------------------- Apellido / Docimilio / Documento -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Parentesco</span>
                        <select class="w3-select bg1" name="Parentesco" id="Parentesco">
                            <option value="0">< Seleccione un Tipo Documento ></option>
                            @{
                                if (ViewData["Parentesco"] != null)
                                {
                                    IEnumerable<dynamic> Parentesco = (IEnumerable<dynamic>)ViewData["Parentesco"];

                                    foreach (dynamic Loc in Parentesco)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>

                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Apellido y Nombre</span>
                        <input type="text" id="ApellidoNombreAfiliadoFamiliar" name="ApellidoNombreAfiliadoFamiliar" class="input100">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Certificado</span>
                        <input type="date" id="CertEstudiosAfiliadoFamiliar" name="CertEstudiosAfiliadoFamiliar" class="input100">
                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Apellido / Docimilio / Documento -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Tipo Documento</span>
                        <select class="w3-select bg1" name="TipoDocAfiliadoFamiliar" id="TipoDocAfiliadoFamiliar">
                            <option value="0">< Seleccione un Tipo Documento ></option>
                            @{
                                if (ViewData["TipoDoc"] != null)
                                {
                                    IEnumerable<dynamic> TipoDocumentoFamiliar = (IEnumerable<dynamic>)ViewData["TipoDoc"];

                                    foreach (dynamic Loc in TipoDocumentoFamiliar)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Numero Documento</span>
                        <input type="number" id="NumDocAfiliadoFamiliar" name="NumDocAfiliadoFamiliar" class="input100">
                    </div>
                    <div class="w3-third w3-container wrap-input100 bg1 rs1-wrap-input100">
                        <span class="label-input100">Sexo</span>
                        <select class="w3-select bg1" name="SexoAfiliadoFamiliar" id="SexoAfiliadoFamiliar">
                            @{
                                if (ViewData["Sexo"] != null)
                                {
                                    IEnumerable<dynamic> Sexo = (IEnumerable<dynamic>)ViewData["Sexo"];

                                    foreach (dynamic Loc in Sexo)
                                    {
                                        <option value="@Loc.Codigo">@Loc.Descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="w3-row">
                    <!-- -------------------- Apellido / Docimilio / Documento -------------------- -->
                    <div class="w3-third w3-container wrap-input100 validate-input bg1 rs1-wrap-input100 alert-validate">
                        <span class="label-input100">Fecha Nacimiento</span>
                        <input type="date" id="FechaNacAfiliadoFamiliar" name="FechaNacAfiliadoFamiliar" class="input100">

                    </div>
                    <div class="w3-third ">
                        <button class="w3-right w3-margin-top enviar w3-card bg-zul w3-text-white w3-hover-green w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" onclick="insertarFamiliar()">
                            Agregar Familiar
                        </button>
                    </div>
                    <div class="w3-third">
                    </div>
                </div>

                <div class="w3-row">
                    <div class="container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Familiar</th>
                                    <th>Nombre</th>
                                    <th>N° Documento</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyFamiliar">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br />
            <br />

            <div class="w3-row">
                <div class="wrap-input100 rs1-wrap-input100">
                    <button class="w3-right w3-margin-top enviar w3-card bg-zul w3-text-white w3-hover-green w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" id="enviarDatos" name="enviarDatos">
                        ENVIAR
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

<br />

@if (!string.IsNullOrEmpty(ViewBag.mensaje))
{
    <script type="text/javascript">
        alert("@ViewBag.mensaje");
    </script>
}

@section scripts{
    <script src="~/js/tabPag.js"></script>
    <script src="~/js/EnviarMatriz.js"></script>
    <script src="~/js/ValidacionesAfiliado.js"></script>
    <script src="~/js/ValidacionesEmpresa.js"></script>
}

