@{
    ViewBag.Title = "Empresa";
}


<!-- ----------------- F  O  R  M  U  L  A  R  I  O   S ----------------- -->
<div class="w3-content" style="max-width:1564px">
    <div class="w3-container">
        <div class="w3-modal-content">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'DatosdelAfiliado')" id="datosdelAfiliado">Datos del Afiliado</button>
                <button class="tablinks" onclick="openCity(event, 'Empresa')">Empresa</button>
                <button class="tablinks" onclick="openCity(event, 'Familiares')">Familiares</button>
            </div>

            <div id="DatosdelAfiliado" class="tabcontent">

                <!-- -------------------- Apellido / Nombre / Cuit -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Apellido</div>
                        <input type="text" id="Apellido" name="Apellido" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Nombre</div>
                        <input type="text" id="Nombre" name="Nombre" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Cuil</div>
                        <input type="number" id="Cuil" name="Cuil" class="w3-input w3-ligth-grey " onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Tipo Doc / Num Doc / Delegacion -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Tipo Documento</div>
                        <select class="w3-select" name="TipoDoc" id="TipoDoc">
                            <option value="0">< Seleccione un Tipo Documento ></option>
                            @{
                                if (ViewData["TipoDoc"] != null)
                                {
                                    IEnumerable<dynamic> TipoDoc = (IEnumerable<dynamic>)ViewData["TipoDoc"];

                                    foreach (dynamic Loc in TipoDoc)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Numero Documento</div>
                        <input type="number" id="NumDoc" name="NumDoc" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Delegacion</div>
                        <select class="w3-select" name="Delegacion" id="Delegacion">
                            <option value="0">< Seleccione una Delegacion ></option>
                            @{
                                if (ViewData["Delegacion"] != null)
                                {
                                    IEnumerable<dynamic> Delegacion = (IEnumerable<dynamic>)ViewData["Delegacion"];

                                    foreach (dynamic Loc in Delegacion)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <br>

                <!-- -------------------- Calif Profesional / Fecha Afiliacion / Estado Civil -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Calificacion Profesional</div>
                        <select class="w3-select" name="CalifProf" id="CalifProf">
                            <option value="0">< Seleccione una Calificacion Profesional ></option>
                            @{
                                if (ViewData["CalifProf"] != null)
                                {
                                    IEnumerable<dynamic> CalifProf = (IEnumerable<dynamic>)ViewData["CalifProf"];

                                    foreach (dynamic Loc in CalifProf)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Estado Civil</div>
                        <select class="w3-select" name="EstadoCivil" id="EstadoCivil">
                            <option value="0">< Seleccione un Estado Civil ></option>
                            @{
                                if (ViewData["EstadoCivil"] != null)
                                {
                                    IEnumerable<dynamic> EstadoCivil = (IEnumerable<dynamic>)ViewData["EstadoCivil"];

                                    foreach (dynamic Loc in EstadoCivil)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Fecha Nacimiento</div>
                        <input type="date" id="FechaNac" name="FechaNac" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Fecha Nacimiento / Calle / Numero Calle -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Calle</div>
                        <input type="text" id="Calle" name="Calle" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">NumeroCalle</div>
                        <input type="number" id="NumeroCalle" name="NumeroCalle" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Piso</div>
                        <input type="text" id="Piso" name="Piso" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Piso / Dto / Telefono -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Dto</div>
                        <input type="text" id="Dto" name="Dto" class="w3-input w3-ligth-grey" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Telefono</div>
                        <input type="number" id="Telefono" name="Telefono" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Localidad</div>
                        <select class="w3-select" name="Localidad" id="Localidad">
                            <option value="0">< Seleccione una Localidad ></option>
                            @{
                                if (ViewData["Localidades"] != null)
                                {
                                    IEnumerable<dynamic> Localidad = (IEnumerable<dynamic>)ViewData["Localidades"];

                                    foreach (dynamic Loc in Localidad)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <br>

                <!-- -------------------- Localidad / Provincia -------------------- -->

                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Provincia</div>
                        <select class="w3-select" name="Provincia" id="Provincia">
                            <option value="0">< Seleccione una Provincia ></option>
                            @{
                                if (ViewData["Provincia"] != null)
                                {
                                    IEnumerable<dynamic> Provincia = (IEnumerable<dynamic>)ViewData["Provincia"];

                                    foreach (dynamic Loc in Provincia)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Genero</div>
                        <select class="w3-select" name="SexoAfiliadoDocumento" id="SexoAfiliadoDocumento">
                            <option value="0">< Seleccione un Genero ></option>
                            @{
                                if (ViewData["Sexo"] != null)
                                {
                                    IEnumerable<dynamic> Sexo = (IEnumerable<dynamic>)ViewData["Sexo"];

                                    foreach (dynamic Loc in Sexo)
                                    {
                                        <option value="@Loc.Codigo">@Loc.Descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Nacionalidad</div>
                        <select class="w3-select" name="Nacionalidad" id="Nacionalidad">
                            <option value="0">< Seleccione una Nacionalidad ></option>
                            @{
                                if (ViewData["Nacionalidad"] != null)
                                {
                                    IEnumerable<dynamic> Nacionalidad = (IEnumerable<dynamic>)ViewData["Nacionalidad"];

                                    foreach (dynamic Loc in Nacionalidad)
                                    {
                                        <option value="@Loc.Codigo">@Loc.Descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <br>

            </div>

            <div id="Empresa" class="tabcontent">

                <!-- -------------------- Fecha Ingreso / Nombre Empresa / Cuit Empresa -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Fecha Ingreso</div>
                        <input type="date" id="FechaIngresoAfiliadoEmpresa" name="FechaIngresoAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Nombre Empresa</div>
                        <input type="text" id="NombreEmpresaAfiliadoEmpresa" name="NombreEmpresaAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">CUIT Empresa</div>
                        <input type="number" id="CUITEmpresaAfiliadoEmpresa" name="CUITEmpresaAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Calle / Numero / Local -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Calle</div>
                        <input type="text" id="CalleAfiliadoEmpresa" name="CalleAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Numero</div>
                        <input type="text" id="NumeroAfiliadoEmpresa" name="NumeroAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Local</div>
                        <input type="text" id="LocalAfiliadoEmpresa" name="LocalAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Piso / Dto / CP -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Piso</div>
                        <input type="text" id="PisoAfiliadoEmpresa" name="PisoAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Dto</div>
                        <input type="text" id="DtoAfiliadoEmpresa" name="DtoAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">CP</div>
                        <input type="number" id="CPAfiliadoEmpresa" name="CPAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Localidad / Telefono -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">

                        <div class="w3-padding w3-bluesky">Localidad</div>
                        <select class="w3-select" name="LocalidadAfiliadoEmpresa" id="LocalidadAfiliadoEmpresa">
                            <option value="0">< Seleccione una Localidad ></option>
                            @{
                                if (ViewData["Localidades"] != null)
                                {
                                    IEnumerable<dynamic> Localidad = (IEnumerable<dynamic>)ViewData["Localidades"];

                                    foreach (dynamic Loc in Localidad)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre_Localidad</option>
                                    }
                                }
                            }
                        </select>

                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Telefono</div>
                        <input type="number" id="TelefonoAfiliadoEmpresa" name="TelefonoAfiliadoEmpresa" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                    </div>
                </div>
                <br>

            </div>


            <div id="Familiares" class="tabcontent">

                <!-- --------------------Parentesco / Apellido y Nombre / Cert Estudios  -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Parentesco</div>
                        <select class="w3-select" name="Parentesco" id="Parentesco">
                            @{
                                if (ViewData["Parentesco"] != null)
                                {
                                    IEnumerable<dynamic> Parentesco = (IEnumerable<dynamic>)ViewData["Parentesco"];

                                    foreach (dynamic Loc in Parentesco)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Apellido y Nombre</div>
                        <input type="text" id="ApellidoNombreAfiliadoFamiliar" name="ApellidoNombreAfiliadoFamiliar" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Cert. Estudios</div>
                        <input type="date" id="CertEstudiosAfiliadoFamiliar" name="CertEstudiosAfiliadoFamiliar" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                </div>
                <br>

                <!-- -------------------- Tipo Doc / Num Doc / Sexo  -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Tipo Documento</div>
                        <select class="w3-select" name="TipoDocAfiliadoFamiliar" id="TipoDocAfiliadoFamiliar">
                            <option value="0">< Seleccione un Tipo Documento ></option>
                            @{
                                if (ViewData["TipoDoc"] != null)
                                {
                                    IEnumerable<dynamic> TipoDocumentoFamiliar = (IEnumerable<dynamic>)ViewData["TipoDoc"];

                                    foreach (dynamic Loc in TipoDocumentoFamiliar)
                                    {
                                        <option value="@Loc.Id">@Loc.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Numero Documento</div>
                        <input type="number" id="NumDocAfiliadoFamiliar" name="NumDocAfiliadoFamiliar" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Sexo</div>
                        <select class="w3-select" name="SexoAfiliadoFamiliar" id="SexoAfiliadoFamiliar">
                            <option value="0">< Seleccione un Sexo ></option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <br>

                <!-- -------------------- Fecha Nac / Vencio el / Actualizacion  -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                        <div class="w3-padding w3-bluesky">Fecha Nac</div>
                        <input type="date" id="FechaNacAfiliadoFamiliar" name="FechaNacAfiliadoFamiliar" class="w3-input w3-ligth-grey w3-left-align" onchange="changeCampos()">
                    </div>
                    <div class="w3-third w3-container w3-text-white">

                    </div>
                    <div class="w3-third w3-container w3-text-white">

                    </div>
                </div>
                <br>

                <!-- -------------------- - / - / Agregar  -------------------- -->
                <div class="w3-row">
                    <div class="w3-third w3-container w3-text-white">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                    </div>
                    <div class="w3-third w3-container w3-text-white">
                        <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" onclick="insertarFamiliar()">
                            Agregar Fila
                        </button>
                    </div>
                </div>

                <div class="container">
                    <table>
                        <thead>
                            <tr>
                                <th>Familiar</th>
                                <th>Nombre</th>
                                <th>N° Documento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="bodyFamiliar">
                        </tbody>
                    </table>
                </div>
            </div>


            <button class="w3-right w3-margin-top w3-button w3-card bg-zul w3-text-white w3-hover-blue w3-hover-border-cyan" style="margin: 0 0 0 200px;" type="submit" onclick="return enviar();">
                Crear
            </button>

        </div>

    </div>

</div>
<br />

@section scripts{
    <script src="~/js/tabPag.js"></script>
    <script src="~/js/EnviarMatriz.js"></script>
    <script src="~/js/Familiares.js"></script>
}